<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Components / Accordion - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>


  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="static/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <script src="static/assets/js/functions.js"></script>

<!--    Datatables-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">
<script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>




  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

   {% include 'header-bar.html' %}

   {% include 'side-bar.html' %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Inventory</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Stock Count</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="card-title mb-0">Stock Count</h5>
              <div class="d-flex gap-2">
                <label for="orderName" class="form-label mb-0">Count ID:</label>
                <input type="text" id="orderName" class="form-control" >
              </div>
            </div>
            <div class="d-flex gap-1 mt-3">
              <button class="btn btn-primary" id="newOrder" >Get Form</button>
<!--              <button class="btn btn-primary" id="loadOrder" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Load open order from the database">Load Order</button>-->
              <button class="btn btn-primary" id="saveOrder"   disabled >Confirm Stock</button>
<!--              <button class="btn btn-primary" id="submitOrder" data-bs-placement="bottom" data-bs-original-title="Notify order to head quarter" disabled>Submit Order</button>-->
              <button class="btn btn-primary" id="closeOrder"   disabled>Close Form</button>
<!--              <button class="btn btn-danger" id="cancelOrder" data-bs-placement="bottom" data-bs-original-title="Delete current order" disabled>Cancel Order</button>-->
              <button class="btn btn-danger" id="resetQty"  disabled>Reset Count</button>
            </div>

              <!--Handle the csv file -->

                <table id="ProductOrderTemplate" border="1">
                    <thead></thead>
                    <tbody></tbody>
                </table>
          </div>
        </div>

              <!-- Confirmation Modal -->
<div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelModalLabel">Confirm Cancel</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel the order?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" id="confirmCancel">Yes, Cancel</button>
            </div>
        </div>
    </div>
</div>


<script>

 $(document).ready(async function() {

    var _t_order_product_template;
    var _saved = false;

    console.log("shop : {{shop.customer}}");
    $("#saveOrder").prop("disabled", true);

    $("#newOrder").on("click", function (event) {
        // Set the order name based on shop customer and current date
        $("#orderName").val(`{{shop.customer}}_${getCurrentDate()}C`);

        // Fetch stock data
        fetch('/get_stock_count_form')
            .then(response => response.json())
            .then(data => {
                // Pass the fetched data to loadStockData function
                $("#loadOrder").prop("disabled",true);
                $("#saveOrder").prop("disabled", false);
                $("#resetQty").prop("disabled", false);
                $("#submitOrder").prop("disabled", false);
                $("#cancelOrder").prop("disabled", false);
                $("#closeOrder").prop("disabled", false);
                $("#newOrder").prop("disabled", true);
                loadStockData(data);
            })
            .catch(error => {
                console.error('Error fetching stock count form:', error);
            });
    });


function loadStockData(rows) {
    console.log(rows);

    // Calculate "Current Quantity" for each row before initializing the table
    rows.forEach(row => {
        // Perform the calculation for Current Quantity
        row.current_qty = (row.last_stock_count || 0) - (row.sold_qty || 0) + (row.received_qty || 0);
    });

    // Destroy existing DataTable if it exists
    if ($.fn.DataTable.isDataTable('#ProductOrderTemplate')) {
        $('#ProductOrderTemplate').DataTable().destroy();
    }

    // Initialize DataTable
    const table = $('#ProductOrderTemplate').DataTable({
        data: rows,
        columns: [
            { title: "SKU", data: "sku" },
            { title: "Product Name", data: "product_name" },
            { title: "Last Stock Count", data: "last_stock_count" },
            { title: "Last Stock Count Date", data: "last_stock_count_date" },
            { title: "Sold Quantity", data: "sold_qty" },
            { title: "Received Quantity", data: "received_qty" },
            {
                title: "Current Quantity",
                data: "current_qty",
                render: function (data, type, row) {
                    return `<span class="current-qty">${data || 0}</span>`;
                }
            },
            {
                title: "Stock Count",
                data: null,
                className: 'editable',
                render: function (data, type, row) {
                    const currentStockCount = 0;
                    return `<input type="number" class="current-stock-count" value="${currentStockCount}" min="0" step="1" />`;
                }
            },
            {
                title: "Damaged Stock",
                data: null,
                className: 'editable',
                render: function (data, type, row) {
                    const currentStockRejected = 0;
                    return `<input type="number" class="current-stock-rejected" value="${currentStockRejected}" min="0" step="1" />`;
                }
            },
            {
                title: "Variance",
                data: "current_qty",
                render: function (data, type, row) {
                    return `<span class="variance">${data || 0}</span>`;
                }
            },
            {
                title: "Variance Reason",
                data: null,
                className: 'editable',
                render: function (data, type, row) {
                    return `<input type="text" class="variance-reason" value="NA" />`;
                }
            },
            {
                title: "Comments",
                data: null,
                className: 'editable',
                render: function (data, type, row) {
                    return `<input type="text" class="comments" value="" />`;
                }
            }
        ],
        pageLength: 300,
        order: [[6, 'desc']],
        autoWidth: false,
        paging: true,
        searching: true,
        responsive: true,
        dom: 'frtip',
    });

    $('#ProductOrderTemplate').show();

    // After table initialization, check variance for each row
    table.rows().every(function () {
        const row = this.node();
        const data = this.data();
        const currentQty = data.current_qty || 0;
        const countedQty = parseFloat($(row).find('.current-stock-count').val()) || 0;
        const rejectedQty = parseFloat($(row).find('.current-stock-rejected').val()) || 0;

        // Calculate the variance
        const variance = currentQty + rejectedQty - countedQty;

        // If variance > 20% of current quantity, set red border
        //const threshold = 0.2; // 20%
        const difference = Math.abs(currentQty - countedQty);
        //if (currentQty > 0 && (difference / currentQty) > threshold) {
        if (difference != 0) {
            $(row).find('.current-stock-count').css('border', '5px solid red');
        }
    });

    // Update variance dynamically when the current stock count changes
    $('#ProductOrderTemplate').on('input', '.current-stock-count, .current-stock-rejected', function () {
        const row = $(this).closest('tr');
        const countedQty = parseFloat(row.find('.current-stock-count').val()) || 0;
        const calculatedQty = parseFloat(row.find('td:nth-child(7)').text()) || 0;
        const rejectedQty = parseFloat(row.find('.current-stock-rejected').val()) || 0;

        const variance = calculatedQty + rejectedQty - countedQty;

        // Update variance
        row.find('.variance').text(variance);

        // Check if the difference exceeds 20%
        const threshold = 0.2; // 20%
        const difference = Math.abs(calculatedQty - countedQty);
        if (calculatedQty > 0 && (difference / calculatedQty) > threshold) {
            // Set border to solid red 1px
            row.find('.current-stock-count').css('border', '5px solid red');
        } else {
            // Reset border
            row.find('.current-stock-count').css('border', '');
        }
    });
}




   // Event handler for the "loadOrder" button
    $("#loadOrder").on("click", function(event) {
        // Set the order name based on shop customer and current date
        $("#orderName").val(`{{shop.customer}}_${getCurrentDate()}`);

        // Fetch the product order form data (check for an existing "New" order)
        fetch('/get_product_order_form')
            .then(response => response.json())
            .then(data => {
                if (Array.isArray(data) && data.length === 0) {
                    // No existing order found, create a new order template
                    dialog("Load Order","<p>There is no existing order. <br>Please click on New Order to open a new order form.</p>");
                } else {
                    // Existing order found, load the existing order data
                    loadExistingOrder(data);
                    $("#newOrder").prop("disabled", true);
                    $(this).prop("disabled", true);
                }
            })
            .catch(error => {
                console.error('Error fetching the product order form:', error);
            });
    });

    // Function to load the new order template data into the table
    function loadOrderTemplate(rows) {
        console.log(rows);

        var roles = {{ roles | tojson }};
        var user_role = "{{user.role}}";
        disableControlsPerRole(roles,user_role);

        if ($.fn.DataTable.isDataTable('#ProductOrderTemplate')) {
            $('#ProductOrderTemplate').DataTable().destroy();
        }

        const table = $('#ProductOrderTemplate').DataTable({
            data: rows,
            columns: [
                { title: "SKU", data: "sku" },
                { title: "Product Name", data: "product_name" },
                { title: "Stock Count", data: "stock_count", className: 'editable', render: function(data, type, row) {
                    if (type === 'display') {
                        return `<input type="number" class="stock-count-edit" value="${data}" min="0" step="any" />`;
                    }
                    return data;
                }},
                { title: "Last Stock Qty", data: "last_stock_qty" },
                { title: "Calc Stock Qty", data: "calc_stock_qty" },
                { title: "Variance", data: "variance" },
                { title: "Variance Reason", data: "variance_rsn", className: 'editable', render: function(data, type, row) {
                    if (type === 'display') {
                        return `<input type="text" class="variance-reason-edit" value="${data || ''}" />`;
                    }
                    return data;
                }},
                { title: "Rejected Qty", data: "stock_recount", className: 'editable', render: function(data, type, row) {
                    if (type === 'display') {
                        return `<input type="number" class="stock-recount-edit" value="${data || 0}" min="0" step="any" />`;
                    }
                    return data;
                }},
                { title: "Order Qty", data: "rejects_qty", className: 'editable', render: function(data, type, row) {
                    if (type === 'display') {
                        return `<input type="number" class="rejected-qty-edit" value="${data || 0}" min="0" step="any" />`;
                    }
                    return data;
                }},
                { title: "Comments", data: "comments", className: 'editable', render: function(data, type, row) {
                    if (type === 'display') {
                        return `<input type="text" class="comments-edit" value="${data || ''}" />`;
                    }
                    return data;
                }}
            ],
            pageLength: 300,
            order: [[1, 'asc']],
            autoWidth: false,
            paging: true,
            searching: true,
            responsive: true,
            dom: 'frtip',
        });
        $('#ProductOrderTemplate').show();
    }

    // Function to load the existing order data into the table
    function loadExistingOrder(data) {
        console.log(data);

        if ($.fn.DataTable.isDataTable('#ProductOrderTemplate')) {
            $('#ProductOrderTemplate').DataTable().destroy();
        }

        const table = $('#ProductOrderTemplate').DataTable({
            data: data,
            columns: [
                { title: "SKU", data: "sku" },
                { title: "Product Name", data: "product_name" },
                { title: "Stock Count", data: "stock_count", className: 'editable', render: function(data, type, row) {
                    if (type === 'display') {
                        return `<input type="number" class="stock-count-edit" value="${data}" min="0" step="any" />`;
                    }
                    return data;
                }},
                { title: "Last Stock Qty", data: "last_stock_qty" },
                { title: "Calc Stock Qty", data: "calc_stock_qty" },
                { title: "Variance", data: "variance" },
                { title: "Variance Reason", data: "variance_rsn", className: 'editable', render: function(data, type, row) {
                    if (type === 'display') {
                        return `<input type="text" class="variance-reason-edit" value="${data || ''}" />`;
                    }
                    return data;
                }},
                { title: "Rejected Qty", data: "stock_recount", className: 'editable', render: function(data, type, row) {
                    if (type === 'display') {
                        return `<input type="number" class="stock-recount-edit" value="${data || 0}" min="0" step="any" />`;
                    }
                    return data;
                }},
                { title: "Order Qty", data: "rejects_qty", className: 'editable', render: function(data, type, row) {
                    if (type === 'display') {
                        return `<input type="number" class="rejected-qty-edit" value="${data || 0}" min="0" step="any" />`;
                    }
                    return data;
                }},
                { title: "Comments", data: "comments", className: 'editable', render: function(data, type, row) {
                    if (type === 'display') {
                        return `<input type="text" class="comments-edit" value="${data || ''}" />`;
                    }
                    return data;
                }}
            ],
            pageLength: 300,
            order: [[1, 'asc']],
            autoWidth: false,
            paging: true,
            searching: true,
            responsive: true,
            dom: 'frtip',
        });

        $('#ProductOrderTemplate').show();

        // Disable save order button
        $("#saveOrder").prop("disabled", false);
        $("#resetQty").prop("disabled", false);
        $("#cancelOrder").prop("disabled", false);
        $("#closeOrder").prop("disabled", false);
        $("#submitOrder").prop("disabled", false);
    }


$("#saveOrder").on("click", function () {

    // Check if the filter is on
    if ($("#ProductOrderTemplate_filter input").val().length > 0) {
        dialog("Filter Is On", "Can't submit count stock while filter is on. Please close the table filter before submit");
        return;
    }

    let isValid = true; // Flag to validate the data
    const tableData = []; // Array to store table data for sending to the server

    // Iterate through each row in the `count_stock` table
    $("#ProductOrderTemplate tbody tr").each(function () {
        const row = $(this);
        const rowData = {}; // Object to store data for each row

        // Collect data from each cell in the row
        rowData.sku = row.find("td:nth-child(1)").text().trim(); // SKU
        rowData.product_name = row.find("td:nth-child(2)").text().trim(); // Product Name
        rowData.last_stock_count = parseFloat(row.find("td:nth-child(3)").text().trim()) || 0; // Last Stock Count
        rowData.last_stock_count_date = row.find("td:nth-child(4)").text().trim(); // Last Stock Count Date
        rowData.sold_qty = parseFloat(row.find("td:nth-child(5)").text().trim()) || 0; // Sold Quantity
        rowData.current_qty = parseFloat(row.find("td:nth-child(6)").text().trim()) || 0; // Current Quantity
        rowData.stock_count = parseFloat(row.find(".current-stock-count").val()) || 0; // Editable Stock Count
        rowData.stock_rejected = parseFloat(row.find(".current-stock-rejected").val()) || 0; // Editable Stock Rejected
        rowData.variance = parseFloat(row.find(".variance").text().trim()) || 0; // Variance
        rowData.variance_reason = row.find(".variance-reason").val().trim() || "NA"; // Editable Variance Reason
        rowData.comments = row.find(".comments").val().trim(); // Editable Comments

        // Check if the current stock count has a red border and comments are empty
        if (row.find('.current-stock-count').css('border-color') === 'rgb(255, 0, 0)' && rowData.comments === "") {
            alert(`Variance found in count  "${rowData.product_name}". Please enter a comment before confirming count.`);
            isValid = false; // Invalid if the condition is met
            return false; // Exit loop
        }



        // Validate the data (example: stock count and rejected stock cannot be negative)
        if (rowData.stock_count < 0 || rowData.stock_rejected < 0) {
            isValid = false;
            alert(`Invalid stock values for SKU: ${rowData.sku}. Please enter valid data.`);
            return false; // Exit loop if invalid data is found
        }

        // Push the row data to `tableData` array
        tableData.push(rowData);
    });

    // Stop execution if validation fails
    if (!isValid) {
        return;
    }

    // Disable confirmation if all good : PONR
    $(this).prop("disabled", true);

    // Show spinner and text
    const spinnerWrapper = $(`
        <div class="spinner-wrapper">
            <div class="spinner"></div>
            <p class="spinner-text">Please wait while stock data is being updated...</p>
        </div>
    `);
    $("body").append(spinnerWrapper);

    // AJAX request to send data to Flask route
    const user_name = {{user.username | tojson}}; // Ensure user_name variable is serialized
    const shop = {{shop.customer | tojson}}; // Ensure shop variable is serialized
    const date = getCurrentDate(); // Get current date in YYYYMMDD format
    const shop_name = {{shop.name | tojson}}

    $.ajax({
        url: "/update_count_stock", // Flask route for updating stock data
        method: "POST",
        contentType: "application/json",
        data: JSON.stringify({
            table: tableData,
            shop: shop,
            user_name: user_name,
            date: date,
            shop_name: shop_name,
            replenish_order_id: "NA",
        }),
        success: function (response) {
            console.log("Data submitted successfully:", response);
            dialog("Save Stock Data", "Stock data was saved successfully.");
        },
        error: function (error) {
            console.error("Error submitting data:", error);
            dialog("Error", "Failed to save stock data. Please try again.");
        },
        complete: function () {
            // Hide spinner after request completes
            spinnerWrapper.remove();
        }
    });
});


    $("#submitOrder").on("click", async function(event) {

        // Check if the order is saved (assuming _saved is updated during saveOrder execution)
        if (_saved) {
            const now = new Date();
            const data = {
                not_date: now,
                not_address: "Head Office",
                not_subject: "NEW ORDER",
                not_body: `New order arrived from {{user.shop}}`,
                not_status: "unread"
            };

            // Create a notification via fetch
            try {
                const response = await fetch('/create_notification', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });

                const rows = await response.json();
                dialog("Order Submit", `<p>Order submitted successfully <br>You may close the order now</p>`);
            } catch (error) {
                console.error('Error:', error);
                dialog("Error", `<p>Error in submitting the order <br> ${error}</p>`);
            }
        } else {
            dialog("Save Order", "Please save the order before submitting.");
        }
    });




 });
  //////// EVENTS //////////
$("#cancelOrder").on("click", function(event) {
    if (allOrderQtyZero()) {
        dialog("Zero Order Quantity" ,"Can't cancel order where all order qty are zero's");
        return; // Exit the function if all Order Qty values are zero
    }
    // Show the confirmation modal
    $('#cancelModal').modal('show');
});

// Handle the confirmation action when the user clicks "Yes, Cancel"
$("#confirmCancel").on("click", function() {

    $.ajax({
        url: '/delete_order',
        type: 'POST',
        success: function(response) {
            console.log(response.message);  // Success message from Flask
            dialog("Delete Order","Order was deleted successfully");
        },
        error: function(error) {
            console.error("Error deleting the order:", error.responseText);
            dialog("Delete Order Error","Order could not be deleted");
        }
    });

    if ($.fn.DataTable.isDataTable('#ProductOrderTemplate')) {
        $('#ProductOrderTemplate').DataTable().clear().destroy(); // Clear and destroy the DataTable instance
    }

    // Gradually hide the table and clear its content
    $('#ProductOrderTemplate').fadeOut(1000, function() {
        $('#ProductOrderTemplate thead').empty();
        $('#ProductOrderTemplate tbody').empty();
        $('#ProductOrderTemplate').hide();  // Hide the table completely
    });

    // Close the modal after the action is confirmed
    $('#cancelModal').modal('hide');

   // disable buttons
        $("#saveOrder").prop("disabled", true);
        $("#resetQty").prop("disabled", true);
        $("#submitOrder").prop("disabled", true);
        $("#cancelOrder").prop("disabled", true);
        $("#closeOrder").prop("disabled", true);
        $("#newOrder").prop("disabled", false);
        $("#orderName").val("");
});

$("#closeOrder").on("click", function(event) {
        if ($.fn.DataTable.isDataTable('#ProductOrderTemplate')) {
            $('#ProductOrderTemplate').DataTable().destroy();
        }
        $('#ProductOrderTemplate').fadeOut(1000, function() {
        $('#ProductOrderTemplate thead').empty();
        $('#ProductOrderTemplate tbody').empty();
        $('#ProductOrderTemplate').hide();  // Hide the table completely
        $("#saveOrder").prop("disabled", true);
        $("#resetQty").prop("disabled", true);
        $("#submitOrder").prop("disabled", true);
        $("#cancelOrder").prop("disabled", true);
        $("#closeOrder").prop("disabled", true);
        $("#newOrder").prop("disabled", false);
        $("#loadOrder").prop("disabled", false);
        $("#orderName").val("");
    });
});

$("#resetQty").on("click", function() {
    $("#newOrder").trigger("click");
});

 // Event listener for the custom tableChanged event
$(document).on("tableChanged", function() {
<!--    alert("Change happened");-->
    _saved = true;
});

// Monitor changes in the table inputs
$('#ProductOrderTemplate').on('change', 'input', function() {
    const input = $(this);
    const value = input.val();

    // Optionally, add validation or processing logic here
    if (value !== null && value.trim() !== "") {
        // Trigger the custom event
        $(document).trigger("tableChanged");
    }
});

//log activity
    $(".btn").on("click", function () {
        // Get the text of the clicked button
        const buttonText = $(this).text().trim();

        // Get the current file name without the ".html" postfix
        const fileName = window.location.pathname.split("/").pop().replace(".html", "");

        // Create a combined activity description
        const activityDescription = `${fileName}: ${buttonText}`;

        // Call the logUserActivity function with the combined description
        logUserActivity(activityDescription);
    });





    </script>


            </div>
          </div>

        </div>

<!--        <div class="col-lg-6">-->

<!--          <div class="card">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Example Card</h5>-->
<!--              <p>This is an examle page with no contrnt. You can use it as a starter for your custom pages.</p>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
      </div>
    </section>
  </main><!-- End #main -->


    <script src="https://bootstrapmade.com/demo/NiceAdmin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="http://algo-tt.co.za/">algo-tt</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="static/assets/vendor/echarts/echarts.min.js"></script>
  <script src="static/assets/vendor/quill/quill.js"></script>
  <script src="static/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>



</body>

</html>