<!-- Modal Structure -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dialog Title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="dialog_body">
        <!-- Modal body content will be updated dynamically -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
<!--        <button type="button" class="btn btn-primary" id="confirmBtn">Confirm</button>-->
      </div>
    </div>
  </div>
</div>

<!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <img src="static/assets/img/toc_logo.jpg" alt="">
        <span class="d-none d-lg-block">Taste Of Cannabis</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

<!--    <div class="search-bar">-->
<!--      <form class="search-form d-flex align-items-center" method="POST" action="#">-->
<!--        <input type="text" name="query" placeholder="Search" title="Enter search keyword">-->
<!--        <button type="submit" title="Search"><i class="bi bi-search"></i></button>-->
<!--      </form>-->
<!--    </div>&lt;!&ndash; End Search Bar &ndash;&gt;-->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown not_dropdown">

          <a class="nav-link nav-icon" id="not_dropdown" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number" id="new_notifications_counter"></span>
          </a><!-- End Notification Icon -->
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header" id="notification_counter">
                <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <!-- Notification items will be inserted here by JavaScript -->
            <li class="dropdown-footer">
                <a id="show_all_nots">Show all notifications</a>
            </li>
        </ul>

<!--          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">-->
<!--            <li class="dropdown-header" id="notification_counter">-->

<!--              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <hr class="dropdown-divider">-->
<!--            </li>-->

<!--            <li class="notification-item">-->
<!--              <i class="bi bi-exclamation-circle text-warning"></i>-->
<!--              <div>-->
<!--                <h4>Lorem Ipsum</h4>-->
<!--                <p>Quae dolorem earum veritatis oditseno</p>-->
<!--                <p>30 min. ago</p>-->
<!--              </div>-->
<!--            </li>-->

<!--            <li>-->
<!--              <hr class="dropdown-divider">-->
<!--            </li>-->

<!--            <li class="notification-item">-->
<!--              <i class="bi bi-x-circle text-danger"></i>-->
<!--              <div>-->
<!--                <h4>Atque rerum nesciunt</h4>-->
<!--                <p>Quae dolorem earum veritatis oditseno</p>-->
<!--                <p>1 hr. ago</p>-->
<!--              </div>-->
<!--            </li>-->

<!--            <li>-->
<!--              <hr class="dropdown-divider">-->
<!--            </li>-->

<!--            <li class="notification-item">-->
<!--              <i class="bi bi-check-circle text-success"></i>-->
<!--              <div>-->
<!--                <h4>Sit rerum fuga</h4>-->
<!--                <p>Quae dolorem earum veritatis oditseno</p>-->
<!--                <p>2 hrs. ago</p>-->
<!--              </div>-->
<!--            </li>-->

<!--            <li>-->
<!--              <hr class="dropdown-divider">-->
<!--            </li>-->

<!--            <li class="notification-item">-->
<!--              <i class="bi bi-info-circle text-primary"></i>-->
<!--              <div>-->
<!--                <h4>Dicta reprehenderit</h4>-->
<!--                <p>Quae dolorem earum veritatis oditseno</p>-->
<!--                <p>4 hrs. ago</p>-->
<!--              </div>-->
<!--            </li>-->

<!--            <li>-->
<!--              <hr class="dropdown-divider">-->
<!--            </li>-->
<!--            <li class="dropdown-footer">-->
<!--              <a href="#">Show all notifications</a>-->
<!--            </li>-->

<!--          </ul>&lt;!&ndash; End Notification Dropdown Items &ndash;&gt;-->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">

         <a class="nav-link nav-icon" href="#"> <!-- data-bs-toggle="dropdown">-->
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">0</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="static/assets/img/messages-1.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>Maria Hudson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="static/assets/img/messages-2.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>Anna Nelson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>6 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="static/assets/img/messages-3.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>David Muldon</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>8 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="static/assets/img/profile-img.png" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{user.first_name}}{{user.last_name}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{user.first_name}} {{user.last_name}}</h6>
              <span>TOC Employee</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{ url_for('main.user_profile') }}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{ url_for('main.user_profile') }}">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{ url_for('main.login') }}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

<body>
  <script>
    $(document).ready(async function() {
       // get notifications
    const user = {{ user | tojson }};
    //console.log(`In header user is:`, user["username"]);
            async function fetchNotifications() {
                await fetch('/get_unread_notifications')
                    .then(response => response.json())
                    .then(data => {
                        //console.log('Notifications:', data);
                        $("#new_notifications_counter").text(`${data.length}`);
                        $("#notification_counter").text(`You have ${data.length} new notifications`);
                        // populate notifications messages
                              // Clear existing notification items
                        $('.notification-item').remove();

                        // Add new notification items
                        data.forEach(notification => {
                            const notificationItem = `
                                <li class="notification-item">
                                    <i class="bi bi-exclamation-circle text-warning"></i>
                                    <div>
                                        <h4>${notification.not_subject}</h4>
                                        <p>${notification.not_body}</p>
                                        <p><small>${notification.not_date}</small></p>
                                    </div>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                            `;
                            $('.dropdown-footer').before(notificationItem);
                        });
                    })
                    .catch(error => {
                        console.error('Error fetching notifications:', error);
                    });
            }

            // Fetch notifications immediately on page load
            fetchNotifications();

            // Set interval to fetch notifications every 20 seconds
            fetchInterval = setInterval(fetchNotifications, 20000);

            // Get logs and check for "error" in comments
            async function fetchLogs() {
                await fetch('/api/get_logs')
                    .then(response => response.json())
                    .then(data => {
                        // Check the first 3 logs for "error" in the comment
                        for (let i = 0; i < Math.min(2, data.length); i++) {
                            const log = data[i];
                            const comment = log.comment;
                            if (comment && comment.toLowerCase().includes("error") &&
                            (user["username"] === "Itsik" || user["username"] === "tom")) {
                                alert(log.comment);
                                // Call the /send_email route with the log comment
                                const emailData = {
                                    recipients: [
                                        "tomer.traub@gmail.com",
                                        "itsik@tasteofcannabis.co.za",
                                        "orders@tasteofcannabis.co.za"
                                    ],
                                    subject: "TOC system error",
                                    body: `Error found in 360. Please check the logs.: ${log.comment}`
                                };

                                // Send the email request
                          //      fetch('/send_email', {
                          //          method: 'POST',
                          //          headers: {
                          //              'Content-Type': 'application/json'
                          //          },
                          //          body: JSON.stringify(emailData)
                          //      })
                          //      .then(response => response.json())
                          //      .then(data => {
                          //          console.log('Email sent successfully:', data);
                          //      })
                          //      .catch(error => {
                          //          console.error('Error sending email:', error);
                          //      });

                                break; // Stop after finding the first "error" comment
                            }
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching logs:', error);
                    });
            }

            // Fetch logs immediately on page load
            fetchLogs();

            // Set interval to fetch logs every 20 seconds
            setInterval(fetchLogs, 600000);

    }); // end ready

  $('#show_all_nots').on('click', async function() {

<!--            clearInterval(fetchInterval); // Stop the interval-->

      try {
          // Clear existing notification items
          $('.notification-item').remove();
          $('.dropdown-divider').remove();

          // Fetch all notifications
          const response = await fetch('/get_all_notifications');
          const data = await response.json();

          // Populate the list with the returned notifications
          data.forEach(notification => {
              const notificationItem = `
                  <li class="notification-item">
                      <i class="bi bi-exclamation-circle text-warning"></i>
                      <div>
                          <h4>${notification.not_subject}</h4>
                          <p>${notification.not_body}</p>
                          <p><small>${notification.not_date}</small></p>
                      </div>
                  </li>
                  <li>
                      <hr class="dropdown-divider">
                  </li>
              `;
              $('.dropdown-footer').before(notificationItem);
          });

          // Update the notification counter
          //$("#notification_counter").text(`You have ${data.length} new notifications`);

          // Close and reopen the dropdown to refresh the view
          const dropdown = $('.not_dropdown');
          dropdown.removeClass('show');
          dropdown.find('.dropdown-menu').removeClass('show');
          setTimeout(() => {
              dropdown.addClass('show');
              dropdown.find('.dropdown-menu').addClass('show');
          }, 100); // Adjust the timeout as needed
      } catch (error) {
          console.error('Error fetching notifications:', error);
      }
  });
  </script>

</body>

