<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="static/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/simple-datatables/style.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script>


<!--  Include charts javascripts-->
<script src="static/assets/js/db_sales_chart.js"></script>
  <script src="static/assets/js/three_month_sales.js"></script>
  <script src="static/assets/js/top_agents_chart.js"></script>



  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  {% include 'header-bar.html' %}
  {% include 'side-bar.html' %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard {{user.shop}}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->


    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>
                    <li><a class="dropdown-item today" href="#">Today</a></li>
                    <li><a class="dropdown-item month" href="#">This Month</a></li>
                    <li><a class="dropdown-item year" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body" id="sales_card">
                  <h5 class="card-title" id="sales-title">Sales <span>| Today</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6 id="sales"></h6>
                      <span class="text-success small pt-1 fw-bold">-%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item today" href="#">Today</a></li>
                    <li><a class="dropdown-item month" href="#">This Month</a></li>
                    <li><a class="dropdown-item year" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title" id="revenue-title">Revenue <span>| Today</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-dollar"></i>
                    </div>
                    <div class="ps-3">
                      <h6 id="revenue"></h6>
                      <span class="text-success small pt-1 fw-bold">-%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item today" href="#">Today</a></li>
                    <li><a class="dropdown-item month" href="#">This Month</a></li>
                    <li><a class="dropdown-item year" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title" id="customer-title">Customers <span>| Today</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6 id="count_customers"></h6>
                      <span class="text-success small pt-1 fw-bold">-%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->

  <!-- Include the line chart -->
  {% include 'line_chart.html' %}



        <!-- Recent Sales -->
        <div class="col-12">
          <div class="card recent-sales overflow-auto">
            <div class="card-body d-flex justify-content-between align-items-center">
                <h5 class="card-title">Recent Sales</h5>
                <button class="btn btn-primary" id="refresh_recent_sell">Refresh Data</button>

                </div>
              <table id="recentSell" style=" margin: 15px; "></table>
            </div>

        </div>

            <!-- Top Selling -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item today product_sell"  data-value="day" >Today</a></li>
                    <li><a class="dropdown-item month product_sell" data-value="month" >This Month</a></li>
                    <li><a class="dropdown-item year  product_sell" data-value = "year" >This Year</a></li>
                  </ul>
                </div>

                <div class="card-body pb-0">
                  <h5 class="card-title" id="top_selling">Top Selling <span>| Today</span></h5>
                  <table id="topSelling"></table>
                </div>

              </div>
            </div><!-- End Top Selling -->

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          {% include 'top_sellers.html' %}

<!--          &lt;!&ndash; Recent Activity &ndash;&gt;-->
<!--          <div class="card">-->
<!--            <div class="filter">-->
<!--              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>-->
<!--              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">-->
<!--                <li class="dropdown-header text-start">-->
<!--                  <h6>Filter</h6>-->
<!--                </li>-->

<!--                <li><a class="dropdown-item today" href="#">Today</a></li>-->

<!--                <li><a class="dropdown-item month" href="#">This Month</a></li>-->
<!--                <li><a class="dropdown-item year" href="#">This Year</a></li>-->
<!--              </ul>-->
<!--            </div>-->

<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Recent Activity <span>| Today</span></h5>-->

<!--              <div class="activity">-->

<!--                <div class="activity-item d-flex">-->
<!--                  <div class="activite-label">32 min</div>-->
<!--                  <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>-->
<!--                  <div class="activity-content">-->
<!--                    Quia quae rerum <a href="#" class="fw-bold text-dark">explicabo officiis</a> beatae-->
<!--                  </div>-->
<!--                </div>&lt;!&ndash; End activity item&ndash;&gt;-->

<!--                <div class="activity-item d-flex">-->
<!--                  <div class="activite-label">56 min</div>-->
<!--                  <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>-->
<!--                  <div class="activity-content">-->
<!--                    Voluptatem blanditiis blanditiis eveniet-->
<!--                  </div>-->
<!--                </div>&lt;!&ndash; End activity item&ndash;&gt;-->

<!--                <div class="activity-item d-flex">-->
<!--                  <div class="activite-label">2 hrs</div>-->
<!--                  <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>-->
<!--                  <div class="activity-content">-->
<!--                    Voluptates corrupti molestias voluptatem-->
<!--                  </div>-->
<!--                </div>&lt;!&ndash; End activity item&ndash;&gt;-->

<!--                <div class="activity-item d-flex">-->
<!--                  <div class="activite-label">1 day</div>-->
<!--                  <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>-->
<!--                  <div class="activity-content">-->
<!--                    Tempore autem saepe <a href="#" class="fw-bold text-dark">occaecati voluptatem</a> tempore-->
<!--                  </div>-->
<!--                </div>&lt;!&ndash; End activity item&ndash;&gt;-->

<!--                <div class="activity-item d-flex">-->
<!--                  <div class="activite-label">2 days</div>-->
<!--                  <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>-->
<!--                  <div class="activity-content">-->
<!--                    Est sit eum reiciendis exercitationem-->
<!--                  </div>-->
<!--                </div>&lt;!&ndash; End activity item&ndash;&gt;-->

<!--                <div class="activity-item d-flex">-->
<!--                  <div class="activite-label">4 weeks</div>-->
<!--                  <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>-->
<!--                  <div class="activity-content">-->
<!--                    Dicta dolorem harum nulla eius. Ut quidem quidem sit quas-->
<!--                  </div>-->
<!--                </div>&lt;!&ndash; End activity item&ndash;&gt;-->

<!--              </div>-->

<!--            </div>-->
<!--          </div>&lt;!&ndash; End Recent Activity &ndash;&gt;-->

          <!-- Budget Report -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item today" href="#">Today</a></li>
                <li><a class="dropdown-item month" href="#">This Month</a></li>
                <li><a class="dropdown-item year" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">Three Months Sales</h5>
              <div id="salesChart" ></div>
            </div>
          </div>
          <!-- End Budget Report -->

          <!-- product sales summary -->
          {% include 'product_pie_chart.html' %}


          <!-- News & Updates Traffic -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item today" href="#">Today</a></li>
                <li><a class="dropdown-item month" href="#">This Month</a></li>
                <li><a class="dropdown-item year" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">News &amp; Updates <span>| Today</span></h5>

              <div class="news">
                <div class="post-item clearfix">
                  <img src="static/assets/img/news-1.jpg" alt="">
                  <h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>
                  <p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
                </div>

                <div class="post-item clearfix">
                  <img src="static/assets/img/news-2.jpg" alt="">
                  <h4><a href="#">Quidem autem et impedit</a></h4>
                  <p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...</p>
                </div>

                <div class="post-item clearfix">
                  <img src="static/assets/img/news-3.jpg" alt="">
                  <h4><a href="#">Id quia et et ut maxime similique occaecati ut</a></h4>
                  <p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...</p>
                </div>

                <div class="post-item clearfix">
                  <img src="static/assets/img/news-4.jpg" alt="">
                  <h4><a href="#">Laborum corporis quo dara net para</a></h4>
                  <p>Qui enim quia optio. Eligendi aut asperiores enim repellendusvel rerum cuder...</p>
                </div>

                <div class="post-item clearfix">
                  <img src="static/assets/img/news-5.jpg" alt="">
                  <h4><a href="#">Et dolores corrupti quae illo quod dolor</a></h4>
                  <p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos eius...</p>
                </div>

              </div><!-- End sidebar recent posts-->

            </div>
          </div><!-- End News & Updates -->

        </div><!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="static/assets/vendor/echarts/echarts.min.js"></script>
  <script src="static/assets/vendor/quill/quill.js"></script>
  <script src="static/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="static/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <script src="static/assets/js/functions.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

<script>

  var _top_selling;
  var _count_replenish;

  $(document).ready(async function() {

    let fetchInterval;

    // Trigger the click event
     await  $(".today").trigger("click");
     await  $("#refresh_recent_sell").trigger("click");
         // Ensure #reportsChart exists in the DOM
    if ($("#reportsChart").length > 0) {
        await populate_sales_chart("daily");
    } else {
        alert("#reportsChart element not found in the DOM.");
    }

    await $(".agent_bar_chart[value='daily']").trigger("click");


      await sales_three_months()
       // get notifications
            async function fetchNotifications() {
                await fetch('/get_unread_notifications')
                    .then(response => response.json())
                    .then(data => {
                        console.log('Notifications:', data);
                        $("#new_notifications_counter").text(`${data.length}`);
                        $("#notification_counter").text(`You have ${data.length} new notifications`);
                        // populate notifications messages
                              // Clear existing notification items
                        $('.notification-item').remove();

                        // Add new notification items
                        data.forEach(notification => {
                            const notificationItem = `
                                <li class="notification-item">
                                    <i class="bi bi-exclamation-circle text-warning"></i>
                                    <div>
                                        <h4>${notification.not_subject}</h4>
                                        <p>${notification.not_body}</p>
                                        <p><small>${notification.not_date}</small></p>
                                    </div>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                            `;
                            $('.dropdown-footer').before(notificationItem);
                        });
                    })
                    .catch(error => {
                        console.error('Error fetching notifications:', error);
                    });
            }

            // Fetch notifications immediately on page load
            fetchNotifications();

            // Set interval to fetch notifications every 20 seconds
            fetchInterval = setInterval(fetchNotifications, 20000);



<!--            $('.recent_sales tbody').attr('id', 'sales-table-body');-->

<!--            // Fetch and populate the table-->
<!--            $('.recent_sales tbody').attr('id', 'sales-table-body');-->

<!--            // Fetch and populate the table-->
<!--            fetch('/recent_sales')-->
<!--                .then(response => response.json())-->
<!--                .then(data => {-->
<!--                    const tableBody = document.getElementById('sales-table-body');-->
<!--                    if (tableBody) {-->
<!--                        tableBody.innerHTML = ''; // Clear any existing rows-->

<!--                        data.forEach(row => {-->
<!--                            const tableRow = `<tr>-->
<!--                                <td>${row[0]}</td>-->
<!--                                <td>${row[1]}</td>-->
<!--                                <td>${row[2]}</td>-->
<!--                                <td>${row[3]}</td>-->
<!--                                <td>${row[4]}</td>-->
<!--                                <td>${row[5]}</td>-->
<!--                            </tr>`;-->
<!--                            tableBody.insertAdjacentHTML('beforeend', tableRow);-->
<!--                        });-->
<!--                    } else {-->
<!--                        console.error('Table body element not found.');-->
<!--                    }-->
<!--                })-->
<!--                .catch(error => console.error('Error fetching sales data:', error))-->
<!--                .finally(() => console.log('Sales data fetch complete.'));-->

<!--        // Restart the interval when the dropdown is closed-->
<!--        $('.nav-item.dropdown').on('hidden.bs.dropdown', function () {-->
<!--            fetchInterval = setInterval(fetchNotifications, 10000); // Restart the interval-->
<!--        });-->

});  // end ready document



  ///////////////////////  events  /////////////////////////////////
    $('#confirmBtn').on('click', function() {
    // Add your custom action code here
    alert('Confirmed!');

    // Hide the modal after action
    $('#exampleModal').modal('hide');
  });

// populate top sellers
   $(".agent_bar_chart").on("click", async function (event) {
        event.preventDefault(); // Prevent the default action of the link

        // Get the 'value' attribute of the clicked element
        const timeframe = $(this).attr("value");

        // Update the chart title to reflect the selected timeframe
        const title = timeframe === "daily" ? "Top Agents<span>|Last Day</span>" : "Top Agents<span>|Last Month</span>";
        $("#topSellers").html(`${title}`);

        // Call the function to populate the chart with the selected timeframe
        await populateTopAgentChart(timeframe);
    });



    $(".today").on("click",async function(event) {
      const shop = "{{ user.shop }}";
      const response = await fetch('/sales_summary');
      const data = await response.json();
      // Prevent the default action
      event.preventDefault();

      if ($(this).closest('.sales-card').length) {
            const sales = data.find(store => store[0] === shop)[4];
            $("#sales").text(sales);
            $("#sales-title").html('Sales <span>| Today</span>');
      }
      if ($(this).closest('.revenue-card').length) {
            const revenue = data.find(store => store[0] === shop)[1];
            $("#revenue").text("R"+revenue);
            $("#revenue-title").html('Revenue <span>| Today</span>');
      };
      if ($(this).closest('.customers-card').length) {
            const c_customer = data.find(store => store[0] === shop)[7];
            $("#count_customers").text(c_customer);
            $("#customer-title").html('Customers <span>| Today</span>');
      }


      const last_update = data.find(store => store[0] === shop)[10];
      $("#last-update").val(last_update);

  });


  $(".month").on("click",async function(event) {
      const shop = "{{ user.shop }}";
      const response = await fetch('/sales_summary');
      const data = await response.json();
      // Prevent the default action
      event.preventDefault();

      if ($(this).closest('.sales-card').length) {
            const sales = data.find(store => store[0] === shop)[5];
            $("#sales").text(sales);
            $("#sales-title").html('Sales <span>| Month</span>');
      }
      if ($(this).closest('.revenue-card').length) {
            const revenue = data.find(store => store[0] === shop)[2];
            $("#revenue").text("R"+revenue);
            $("#revenue-title").html('Revenue <span>| Month</span>');
      };
      if ($(this).closest('.customers-card').length) {
            const c_customer = data.find(store => store[0] === shop)[8];
            $("#count_customers").text(c_customer);
            $("#customer-title").html('Customers <span>| Month</span>');
      }

  });

    $(".year").on("click",async function(event) {
      const shop = "{{ user.shop }}";
      const response = await fetch('/sales_summary');
      const data = await response.json();
      // Prevent the default action
      event.preventDefault();

      if ($(this).closest('.sales-card').length) {
            const sales = data.find(store => store[0] === shop)[6];
            $("#sales").text(sales);
            $("#sales-title").html('Sales <span>| Year</span>');
      }
      if ($(this).closest('.revenue-card').length) {
            const revenue = data.find(store => store[0] === shop)[3];
            $("#revenue").text("R"+revenue);
            $("#revenue-title").html('Revenue <span>| Year</span>');
      };
      if ($(this).closest('.customers-card').length) {
            const c_customer = data.find(store => store[0] === shop)[9];
            $("#count_customers").text(c_customer);
            $("#customer-title").html('Customers <span>| Year</span>');
      }

  });


 // Recent Sales
   $("#refresh_recent_sell").on("click", async function(event) {
    try{
        // check if datatable exist
          if ($.fn.DataTable.isDataTable('#recentSell')) {
            $('#recentSell').DataTable().clear().destroy();
          }
fetch('/recent_sales')
    .then(data => data.json())
    .then(rows => {
        //console.log(rows);
        if (rows.length > 0) {
            // Convert date strings to Date objects
            rows.forEach(row => {
                row[4] = new Date(row[4]); // Assuming the "Selling Date" is the 5th column (index 4)
            });

            // Initialize DataTable with custom sorting for the "Selling Date" column
            _top_selling = $('#recentSell').DataTable({
                data: rows,
                columns: [
                    { title: "Sales Id" },
                    { title: "Customer" },
                    { title: "Product" },
                    { title: "Price" },
                    { title: "Selling Date" },
                    { title: "Shop" },
                ],
                columnDefs: [
                    {
                        targets: 4, // Target the "Selling Date" column
                        render: function (data, type, row) {
                            if (type === 'display' || type === 'filter') {
                                return data.toDateString(); // Format the date for display
                            }
                            return data;
                        },
                        type: 'date' // Specify the column type as date
                    }
                ],
                "autoWidth": true,
                "order": [[4, 'desc']] // Sort by "Selling Date" in descending order
            });
        }
    });
    }
    catch(e){
        dialog("Error","Can't fetch recent sales "+e,BootstrapDialog.TYPE_INFO);
    }
  })

  $("#product_selling_day").on("click", async function(event) {
    try{
<!--          alert("product top day selling");-->
          fetch('/recent_sales_product/day')
          .then(data => data.json())
          .then(rows => {
              //console.log(rows);
                  if(rows != 0){
                      _top_selling = $('#topSelling').DataTable({
                                                      data: rows,
                                                      columns: [
                                                          { title: "Product" },
                                                          { title: "Sold" },
                                                          { title: "Revenue" },
                                                      ],
                                                      order: [[2, 'desc']],
                                                      "autoWidth": false,
                                                  });
                  }
          });
    }
    catch(e){
        dialog("Error","Can't fetch product infor "+e,BootstrapDialog.TYPE_INFO);
    }
  })


  $(".product_sell").on("click", function(event) {
    event.preventDefault(); // Prevent the default link behavior
    const value = $(this).data("value");
    $("#top_selling").html(`Top Selling <span>| ${value} </span>`);
    try{
    // check if datatable exist
          if ($.fn.DataTable.isDataTable('#topSelling')) {
            $('#topSelling').DataTable().clear().destroy();
          }
    // populate table
          fetch(`/recent_sales_product/${value}`)
          .then(data => data.json())
          .then(rows => {
              //console.log(rows);
                  if(rows != 0){
                      _top_selling = $('#topSelling').DataTable({
                                                      data: rows,
                                                      columns: [
                                                          { title: "Product" },
                                                          { title: "Sold" },
                                                          { title: "Revenue" },
                                                      ],
                                                      order: [[2, 'desc']],
                                                      "autoWidth": false,
                                                  });
                  }
          });
    }
    catch(e){
        dialog("Error","Can't fetch product infor "+e,BootstrapDialog.TYPE_INFO);
    }
  });

  //Line chart filter
      $('.line_chart').click(async function() {
        // Get the value of the clicked item
        var selectedValue = $(this).attr('value');

        // Show an alert with the selected value
        //alert('Selected: ' + selectedValue);
        await populate_sales_chart(selectedValue)
    });

  // closing notification - mark all notification as read
        $('.nav-item.dropdown').on('hidden.bs.dropdown', async function () {
            //alert('close notification');
            try {
                const response = await fetch('/get_and_mark_notifications');
                const data = await response.json();
                $("#new_notifications_counter").text("0");
               // console.log('Notifications marked as read:', data);
            } catch (error) {
                console.error('Error marking notifications as read:', error);
            }
        });

  // Show all notifications
        $('#show_all_nots').on('click', async function() {

<!--            clearInterval(fetchInterval); // Stop the interval-->

            try {
                // Clear existing notification items
                $('.notification-item').remove();
                $('.dropdown-divider').remove();

                // Fetch all notifications
                const response = await fetch('/get_all_notifications');
                const data = await response.json();

                // Populate the list with the returned notifications
                data.forEach(notification => {
                    const notificationItem = `
                        <li class="notification-item">
                            <i class="bi bi-exclamation-circle text-warning"></i>
                            <div>
                                <h4>${notification.not_subject}</h4>
                                <p>${notification.not_body}</p>
                                <p><small>${notification.not_date}</small></p>
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                    `;
                    $('.dropdown-footer').before(notificationItem);
                });

                // Update the notification counter
                //$("#notification_counter").text(`You have ${data.length} new notifications`);

                // Close and reopen the dropdown to refresh the view
                const dropdown = $('.not_dropdown');
                dropdown.removeClass('show');
                dropdown.find('.dropdown-menu').removeClass('show');
                setTimeout(() => {
                    dropdown.addClass('show');
                    dropdown.find('.dropdown-menu').addClass('show');
                }, 100); // Adjust the timeout as needed
            } catch (error) {
                console.error('Error fetching notifications:', error);
            }
        });

      //log activity
    $(".btn").on("click", function () {
        // Get the text of the clicked button
        const buttonText = $(this).text().trim();

        // Get the current file name without the ".html" postfix
        const fileName = window.location.pathname.split("/").pop().replace(".html", "");

        // Create a combined activity description
        const activityDescription = `${fileName}: ${buttonText}`;

        // Call the logUserActivity function with the combined description
        logUserActivity(activityDescription);
    });



</script>

</body>

</html>