<!-- line_chart.html -->
<div class="col-12">
  <div class="card">

    <div class="filter">
      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
        <li class="dropdown-header text-start">
          <h6>Filter</h6>
        </li>

        <!-- line_chart.html -->
        <li><a class="dropdown-item line_chart" id="hourly_chart" href="#" value="hourly">Hourly</a></li>
        <li><a class="dropdown-item line_chart" id="daily_chart" href="#" value="daily">Daily</a></li>


      </ul>
    </div>

    <div class="card-body">
      <h5 class="card-title" id="line_chart_title">Sales Chart <span>/Daily</span></h5>

      <!-- Line Chart -->
      <div id="reportsChart"></div>

      <script>
        document.addEventListener("DOMContentLoaded", () => {
          const options = {
            series: [],
            chart: {
              height: 350,
              type: 'area',
              toolbar: {
                show: false
              },
            },
            markers: {
              size: 4
            },
            colors: ['#4154f1', '#2eca6a', '#ff771d'],
            fill: {
              type: "gradient",
              gradient: {
                shadeIntensity: 1,
                opacityFrom: 0.3,
                opacityTo: 0.4,
                stops: [0, 90, 100]
              }
            },
            dataLabels: {
              enabled: false
            },
            stroke: {
              curve: 'smooth',
              width: 2
            },
            xaxis: {
              type: 'datetime',
              categories: []
            },
            tooltip: {
              x: {
                format: 'dd/MM/yy HH:mm'
              },
            }
          };

          const chart = new ApexCharts(document.querySelector("#reportsChart"), options);
          chart.render();
        });
      </script>
      <!-- End Line Chart -->

    </div>

  </div>
</div><!-- End Reports -->
