{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <h2>Login</h2>
    <form method="POST" action="{{ url_for('main.login_post') }}">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
<!--      <a id="register" href="{{ url_for('main.register') }}" class="btn btn-secondary">Register</a>-->
    </form>
  </div>
</div>

<script>
     $("#register").on("click", function(event) {

        var username = $("#username").val();
        if (username !== "Itsik") {
            alert("You are not allowed to register a new user");
            event.preventDefault(); // Prevent the default action (navigation)
        }
    })

</script>



{% endblock %}
