<!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('main.index') }}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#inventory-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Inventory</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="inventory-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li id="countStock">
            <a href="{{ url_for('main.count_stock') }}">
              <i class="bi bi-circle"></i><span>Stock Count</span>
            </a>
          </li>

          <li id="SpotCountStock">
            <a href="{{ url_for('main.spotcheck_count_stock') }}">
              <i class="bi bi-circle"></i><span>Spotcheck Count</span>
            </a>
          </li>

          <li id="orderStock">
            <a href="{{ url_for('main.order_stock') }}">
              <i class="bi bi-circle"></i><span>Order Stock</span>
            </a>
          </li>

          <li id="receiveStock">
            <a href="{{ url_for('main.receive_stock') }}">
              <i class="bi bi-circle"></i><span>Receive Stock</span>
              <span class="badge bg-primary badge-number" id="receive_stock_counter"></span>
            </a>
          </li>
          <li id="interTransfer">
            <a href="{{ url_for('main.inter_replenish_stock') }}">
              <i class="bi bi-circle"></i><span>Inter Transfer</span>
            </a>
          </li>
          <li id="replenishment">
            <a href="{{ url_for('main.replenish_stock') }}">
              <i class="bi bi-circle"></i><span>Replenishment</span>
            </a>
          </li>
          <li id="viewOrders">
            <a href="{{ url_for('main.view_orders') }}">
              <i class="bi bi-circle"></i><span>View Orders</span>
            </a>
          </li>

          <li id="stockAudit">
             <a href="{{ url_for('main.stock_movement') }}">
              <i class="bi bi-circle"></i><span>Stock Movement</span>
            </a>
          </li>



        </ul>
      </li><!-- End Forms Nav -->

        <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#reports-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>Reports</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="reports-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li id="salesReport">
            <a href="{{ url_for('main.sales_report') }}">
              <i class="bi bi-circle"></i><span>Sales Reports</span>
            </a>
          </li>
          <li id="varianceReport">
            <a href="{{ url_for('main.variance_report') }}">
              <i class="bi bi-circle"></i><span>Inventory Reports</span>
            </a>
          </li>
          <li id="systemTables">
            <a href="{{ url_for('main.system_tables') }}">
              <i class="bi bi-circle"></i><span>360 Tables</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#shipday-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-truck"></i><span>Instant Delivery</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="shipday-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li id="ShipdayReports">
            <a href="{{ url_for('main.shipday_report') }}">
              <i class="bi bi-circle"></i><span>Reports</span>
            </a>
          </li>
          <li id="ShipdayDrivers">
            <a href="{{ url_for('main.shipday_drivers_page') }}">
              <i class="bi bi-circle"></i><span>Drivers</span>
            </a>
          </li>
        </ul>
      </li>


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#admin-nav" data-bs-toggle="collapse" >
          <i class="bi bi-wrench"></i><span>Admin</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="admin-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li id="admin">
            <a href="{{ url_for('main.admin_users') }}">
              <i class="bi bi-circle"></i><span>Users</span>
            </a>
          </li>
          <li id="Products">
            <a href="{{ url_for('main.admin_products') }}">
              <i class="bi bi-circle"></i><span>Products</span>
            </a>
          </li>
           <li id="logs">
            <a href="{{ url_for('main.admin_logs') }}">
              <i class="bi bi-circle"></i><span>System Logs</span>
            </a>
          </li>
          <li id="userActivity">
            <a href="{{ url_for('main.user_activity') }}">
              <i class="bi bi-circle"></i><span>User Activity</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#casual-nav" data-bs-toggle="collapse" >
          <i class="bi bi-calendar-check"></i><span>Timesheet</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="casual-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li id="casualTimesheet">
            <a href="{{ url_for('main.casual_timesheet') }}">
              <i class="bi bi-circle"></i><span>Casuals Timesheet</span>
            </a>
          </li>
          <li id="CasualHistory">
            <a href="{{ url_for('main.timesheet_history') }}">
              <i class="bi bi-circle"></i><span>History</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->

  <li class="nav-item" id="openai">
    <a class="nav-link collapsed" href="{{ url_for('main.ChatGPT') }}">
      <i class="bi bi-robot"></i>  <!-- UPDATED icon here -->
      <span>360 AI Assistant
<!--        <span class="badge bg-warning text-dark ms-2">NEW</span>-->
      </span>
    </a>
  </li><!-- End Dashboard Nav -->

  <li class="nav-item" id="online-sales">
    <a class="nav-link {{ 'active' if request.endpoint=='main.online_sales' else 'collapsed' }}"
       href="{{ url_for('main.online_sales') }}">
      <i class="bi bi-geo-alt"></i>
      <span>Online Sales</span>
    </a>
  </li><!-- End Online Sales Nav -->

      <li class="nav-item" id="b2b">
        <a class="nav-link collapsed" href="{{ url_for('main.b2bIndex') }}">
          <i class="bi bi-grid"></i>
          <span>B2B Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

    </ul>

<!---->

  </aside><!-- End Sidebar-->

<script src="static/assets/js/functions.js"></script>

<script>
    var roles = {{ roles | tojson }};
    var user_role = "{{user.role}}";
    disableControlsPerRole(roles,user_role);

      // get replenish order counter
    getCountNewOrders().then(count => {
      if (count !== undefined) {
        // Do something with the count
        $("#receive_stock_counter").text(count);
      }
    });
</script>
