<div class="col-12">
  <div class="card">

    <div class="filter">
      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
        <li class="dropdown-header text-start">
          <h6>Filter</h6>
        </li>
        <li><a class="dropdown-item agent_bar_chart" id="top_agent_last_day_chart" value="daily">Last Day</a></li>
        <li><a class="dropdown-item agent_bar_chart" id="top_agent_last_month_chart" value="monthly">Last Month</a></li>
      </ul>
    </div>

    <div class="card-body">
      <h5 class="card-title" id="topSellers">Top Agents<span>|Last Day</span></h5>

      <!-- Canvas for Bar Chart -->
      <canvas id="topAgentChart"></canvas>

    </div>

  </div>
</div><!-- End Reports -->

